@media screen and (max-width: 500px) {
    .starting {
        background-color: white;
        padding: 2em;
        width: 80%;
        margin: auto;
        margin-top: 5em;
        opacity: 1;
        color: black;
        text-align: center;
        border-radius: 9px;
    }
}
@media screen and (min-width: 501px) and (max-width: 750px) { 
    .starting {
        background-color: white;
        padding: 2.5em;
        width: 70%;
        margin: auto;
        margin-top: 10em;
        opacity: 1;
        color: black;
        text-align: center;
        border-radius: 9px;
    }
}
@media screen and (min-width: 751px) {
    .starting {
        background-color: white;
        padding: 2.5em;
        width: 50%;
        margin: auto;
        margin-top: 10em;
        opacity: 1;
        color: black;
        text-align: center;
        border-radius: 9px;
    }
}
 body {
    background-image: url("chinese_garden_tile_crop_smaller.jpeg");
    background-size: cover;
    opacity: .93;
    font-family: 'Noto Serif', serif;
} 